button {
    font-size: 'Nunito';
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

/* tamanho */
.custom-size-adaptive {
    width: 100%;
    padding: 8px 16px;
}

.custom-size-small {
    width: 194px;
    padding: 9px 32px;
}

.custom-size-average {
    width: 231px;
    padding: 16px;
}

.custom-size-large {
    width: 296px;
    padding: 16px 32px;
}

/* cores */
.custom-colors-transparent {
    font-size: 1rem;
    font-weight: 700;
    color: var(--intense-red);
    border: 1px solid var(--intense-red);
}

.custom-colors-red {
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--intense-red);
}

.custom-colors-yellow {}