.home {
    display: flex;
    max-width: 1440px;
    height: 859px;
    gap: 70px;
    margin: 0 auto;
    padding: 0 72px;
}

/* info home */
.infoHome {
    width: 100%;
    max-width: 504px;
    height: auto;
    margin-top: 190px;
}

.infoHome h1 {
    font-size: 80px;
    margin-bottom: 16px;
    text-shadow: 5px -2px 0px rgb(255, 212, 94), -3px -2px 0px rgba(255, 213, 99, 1), 2px 0px 0px rgba(255, 207, 96, 1), 0px 8px 7px rgba(255, 207, 96, 1);
}

.infoHome span {
    font-family: 'Fugaz One', cursive;
    color: var(--intense-red);
}

.infoHome span:last-child {
    color: var(--black-color);
}

.infoHome p {
    font-size: 24px;
    font-family: 'Nunito';
    margin-bottom: 32px;
}

.podcastPlatforms {
    width: 330px;
    margin-top: 56px;
}

.podcastPlatforms a:not(:last-child) {
    margin-right: 40px;
}

.podcastPlatforms p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

/* banner home */
.bannerHome {
    position: relative;
}

.banner {
    width: 100%;
    position: relative;
}

.banner .agileCircle {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-32%, -65%);
    max-width: 818px;
    height: auto;
}

.persona {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-17%, 32%);
    z-index: 2;
    max-width: 441px;
}

.modals {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.modal1 {
    top: 50%;
    left: 50%;
    transform: translate(-130%, -55%);
    max-width: 246px;
    height: 246px;
}

.modal2 {
    top: 50%;
    left: 50%;
    transform: translate(-75%, -487%);
    width: 120.68px;
    height: 131.83px;
}

.modal3 {
    top: 50%;
    left: 50%;
    transform: translate(280%, -520%);
    width: 126.1px;
    height: 126.1px;
}

.boxShadow, .xBox {
    -webkit-box-shadow: 1px 3px 10px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 3px 10px -3px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.boxShadow {
    border-radius: 16px;
    z-index: 3;
}

.boxShadow1 {
    width: 219px;
    height: 219px;
    background-color: var(--light-yellow);
}

.boxShadow2 {
    width: 120.68px;
    height: 120.68px;
    background-color: var(--light-yellow);
    rotate: -8.39deg;
}

.boxShadow3 {
    width: 101.92px;
    height: 101.92px;
    background-color: var(--pale-rose);
    rotate: -8.39deg;
}

.boxes {
    z-index: 5;
    border-radius: 16px;
}

.box1 {
    width: 219px;
    height: 219px;
    background-color: var(--lavender-purple);
    rotate: -7.43deg;
}

.box2 {
    width: 120.68px;
    height: 120.68px;
    background-color: var(--pale-rose);
    rotate: 8.39deg;
}

.box3 {
    width: 101px;
    height: 101px;
    rotate: -16.04deg;
    text-align: right;
    background-color: var(--light-yellow);
}

.bannerHome .podcastInvitationBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(38%, 27%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 306px;
    height: 175px;
    border-radius: 16px;
    background-color: var(--light-grayish-white);
    -webkit-box-shadow: 1px 3px 10px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 3px 10px -3px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.podcastInvitationBox .box-info {
    width: 231px;
}

.bannerHome .podcastInvitationBox p {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 16px;
}